@use 'colors';
@use 'dimensions';

.button--main {
    padding: 0.5em 1.2em;
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 0.2em;
    display: block;
    margin: 2em auto;
    color: colors.$background;
    background-color: colors.$accent-dark;
    border: none;

    @media screen and (min-width: dimensions.$desktop) {
        font-size: 30px;
    }
    
    &:is(:hover,
    :focus, :active) {
        background-color: colors.$hover;
    }
}

.button--small {
    padding: 0.5em 1.2em;
    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 0.2em;
    display: block;
    margin: 2em auto;
    color: colors.$background;
    background-color: colors.$accent-dark;
    border: none;

    @media screen and (min-width: dimensions.$desktop) {
        margin: 0 auto auto auto;
        font-size: 30px;
    }
    
    &:is(:hover,
    :focus, :active) {
        background-color: colors.$hover;
    }
}

