@use 'colors';
@use 'dimensions';

.cenik {
    margin: 1em auto 15% auto;
    display: flex;
    flex-direction: column;
}

.price-list {
    max-width: dimensions.$maxWidth; ///why not cenik?
    align-self: center;
    padding: 0 0 1em 0;

    & table {
        padding: 1em 0;
        border-spacing: 1em;
    }

    & th {
        padding: 1em 0 0.5em 0;
    }

    & tr:is(:hover,
    :focus, :active) {
        text-decoration: underline;
    }

    & td {
        max-width: calc(100vw*0.6);
    }

    & td:nth-child(2n) {
        text-align: right;
        font-weight: 700;
        text-wrap: nowrap;
    }

    & h1 {
        text-align: center;
    }

    &::after {
        content: "";
        display: block;
        width: calc(dimensions.$maxWidth*0.8);
        height: 1px;
        background-color: colors.$font;
        margin: 2em auto 2em auto;
    }
}

.price-disclaimer {
    max-width: dimensions.$maxWidth; ///why not cenik?
    align-self: center;
    font-weight: 700;
}