@use 'colors';

.header {
    margin-top: 10px;
}

.header__link {
    text-decoration: none;
    font-size: 40px;
    padding: 0 0 0 20px;

    &-a {
        font-family: 'Luxurious Script', cursive;
        font-size: 54px;
    }
}

.header__photo {
    height: auto;
    width: 100%;
    border: 1px solid colors.$accent-light;
}