@use 'colors';
@use 'dimensions';

.header {
    margin-top: 1em;
    /*position: relative;*/

    &__link {
        text-decoration: none;
        font-size: 40px;
        padding: 0 0 0 0.5em;
        /*position: absolute;
        z-index: 1;*/
    
        &-a {
            font-family: 'Luxurious Script', cursive;
            font-size: 54px;
        }
    }

    &__photo {
        height: auto;
        width: 100%;
        border: 1px solid colors.$accent-light;
        /*position: absolute;
        z-index: 0;
        top: 46px;*/
    }
}

