@use 'colors';
@use 'dimensions';

.contact-box {
    margin: dimensions.$pageMargin;
    
    @media screen and (min-width: dimensions.$desktop) {
        border: 2px solid colors.$font;
        margin: auto;
        max-width: 70%;
        padding: 4em;       
    }

    & h1, h2 {
        display: flex;
        justify-content: center;
    }

    & a:is(:hover,
    :focus, :active) {
        color: colors.$accent-dark;
    }
}

.contact-box__text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);

    @media screen and (min-width: dimensions.$desktop) {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: 1fr;
        max-width: 80%;
        margin: 0 auto;        
    }

    .opening-hours {
        grid-column: 1 / -1;
        grid-row: 1 / 2;

        @media screen and (min-width: dimensions.$desktop) {
            grid-column: 1 / 2;
            grid-row: 1 / -1;
        }
    
        & table {
            display: flex;
            justify-content: center;
        }
    }

    .address {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        margin-bottom: 15%;

        @media screen and (min-width: dimensions.$desktop) {
            grid-column: 2 / -1;
            grid-row: 1 / -1;
            margin-bottom: 0;
        }
    }

    & h3 {
        margin-bottom: 0.5em;
        text-align: center;
        text-transform: lowercase;
    }
  
    & td:nth-child(2) {
        padding-left: 2em;
    }

    & p {
        margin: 0; /////global setting???
        text-align: center;
    }
}