@use 'colors';
@use 'dimensions';

.menu {
    list-style-type: none;
    width: fit-content;
    margin: 0;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
    @media screen and (min-width: 480px) {
        
    }

    &__item {
        margin: 0 2em;
        position: relative;
    }

    &__link {
        text-decoration: none;
        text-transform: lowercase;
    }

    &__link:is(:hover,
    :focus, :active) {
        font-weight: 700;
    }

    &__glyph {
        max-width: 29px;
        position: absolute;
        right: 7em;
    }
}

