@use 'colors';
@use 'dimensions';

.menu {
    list-style-type: none;
    width: fit-content;
    margin: 0;
    font-size: 1.2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    @media screen and (min-width: dimensions.$desktop) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: absolute;
        top: 25px;
        right: 0;
    }   

    &__item {
        margin: 0 2em;
        position: relative;
    }

    &__link {
        text-transform: lowercase;
        text-wrap: nowrap;
    }

    &__link:is(:hover,
    :focus, :active) {
        color: colors.$accent-dark;
    }

    &__glyph {
        max-width: 29px;
        position: absolute;
        right: 7em;
    }
}

