@use 'colors';
@use 'dimensions';
@use 'header';
@use 'menu';
@use 'footer';
@use 'buttons';
@use 'index';
@use 'nas-tym';
@use 'kontakt';
@use 'cenik';

.top-panel {
    position: relative;
}

.body-wrapping-div {
    position: relative;
    min-height: 100lvh;
}

html {
    box-sizing: border-box;
}

*, ::after, ::before { box-sizing: inherit; }

body {
    background-color: colors.$background;
    margin: 0;
}

.main {
    margin: 2em auto auto auto;
    padding-bottom: 5%;

    @media screen and (min-width: dimensions.$desktop) {
        max-width: 1240px;
        margin: 4em auto auto auto;
        padding-bottom: 10%;
    }
}

h1, h2, h3, p, a, th, td {
    font-family: 'Noto Sans', sans-serif;
    color: colors.$font;
}

a {
    text-decoration: none;
}

h1 {
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
}





