@use 'colors';
@use 'dimensions';
@use 'header';
@use 'menu';
@use 'footer';
@use 'app-button';
@use 'nas-tym';

html {
    box-sizing: border-box;
    height: 100%;
}
*, ::after, ::before { box-sizing: inherit; }

body {
    background-color: colors.$background;
    margin: 0;
    height: 100%;
}

.main {
    min-height: 100%;

    @media screen and (min-width: dimensions.$desktop) {
        max-width: 1240px;
        margin: auto;
    }
}

h1, h2, h3, p, a {
    font-family: 'Noto Sans', sans-serif;
    color: colors.$font;
}

h1 {
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
}





