@use 'abstracts/variables' as var;
@use 'abstracts/mixins' as mixins;
@use 'layout';
@use 'components';
@use 'pages';

* {
    min-width: 0;
    margin: 0;
}

.top-panel {
    position: relative;
}

.body-wrapping-div {
    position: relative;
    min-height: 100lvh;
}

html {
    box-sizing: border-box;
}

*, ::after, ::before { box-sizing: inherit; }

body {
    background-color: var.$background;
    margin: 0;
}

.main {
    padding-top: 1rem;
    padding-bottom: 6rem;
    margin-inline: auto;

    @include mixins.desktop {
        max-width: 1240px;
    }
}

h1, h2, h3, p, a, th, td {
    @include mixins.font;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

h1 {
    text-transform: uppercase;
    padding-bottom: 1rem;
}





