---
layout: layouts/page.njk
title: Úvod
headerPhoto: homepage810.webp
headerAlt: Výhled na salon
---
<div class="index">

    <p class="plain-text">V našem salonu věříme, že <strong>klíčem ke kráse je zdůraznění jedinečného kouzla každé ženy</strong>. Jsme oázou pro ty, kteří vyznávají jednoduchost a nadčasový styl.</p>

    <!-- objednací talčítko -->
    {% include 'partials/button.njk' %}

    <p class="plain-text"><strong>Navštivte nás a zdůrazněte svůj osobitý styl.</strong></p>

    <div class="homepage-gallery">
        <a href="/nas-tym/index.html#misa" class="homepage-gallery__photo" photo-text="líčení">
            <img src="images/homepage-gallery/brushes.webp" alt="Štětce na líčení">
        </a>
        
        <a href="/nas-tym/index.html#anicka" class="homepage-gallery__photo" photo-text="vlasy">
            <img src="images/homepage-gallery/hair1.webp" alt="Vlasy">
        </a>
        <a href="/nas-tym/index.html#klarka" class="homepage-gallery__photo" photo-text="nehty">
            <img src="images/homepage-gallery/nails.webp" alt="Nalakované nehty">
        </a>
        <a href="/nas-tym/index.html#anicka" class="homepage-gallery__photo photo--desktop" photo-text="vlasy">
            <img src="images/homepage-gallery/hair2.webp" alt="Vlasy">
        </a>
        <a href="/nas-tym/index.html#klarka" class="homepage-gallery__photo photo--desktop" photo-text="nehty">
            <img src="images/homepage-gallery/nailpolish.webp" alt="Manikúra">
        </a>
        <a href="/nas-tym/index.html#misa" class="homepage-gallery__photo photo--desktop" photo-text="líčení">
            <img src="images/homepage-gallery/makeup.webp" alt="Nalíčené oko">
        </a>
    </div>

    <!--modal-->
    {% include 'partials/modal.njk' %}

</div>