---
layout: layouts/page.njk
title: Kontakt
headerPhoto: kontakt810.webp
headerAlt: Fotografie recepce salonu
---

<div class="contact-box">
    <h1>Praha – Dejvice</h1>
    
    <h2><a href="tel:+420777666555">+420 777 666 555</a></h2>
    
    <!-- objednací talčítko -->
    {% include 'partials/button.njk' %}

    <div class="contact-box__text">
        <div class="opening-hours">
            <h3>Otevírací doba:</h3>
            <table>
                <tr>
                    <td>po–so</td>
                    <td>8–20</td>
                </tr>
                <tr>
                    <td>ne</td>
                    <td>8–18</td>
                </tr>
            </table>
        </div>

        <div class="address">
            <h3>Těšíme se na vás na adrese:</h3>
            <p>
                bachmačské nám. 6<br>
                praha 6<br>
                160 00<br>
                dejvice<br>
            </p>
        </div>
    </div>

    <div class="google-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2559.380369675023!2d14.397134876812883!3d50.09788701268604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470b952166e60d65%3A0x1cf5216b72786e68!2sBachma%C4%8Dsk%C3%A9%20n%C3%A1m.%20334%2F6%2C%20160%2000%20Praha%206-Dejvice!5e0!3m2!1sen!2scz!4v1704579530558!5m2!1sen!2scz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <!--modal-->
    {% include 'partials/modal.njk' %}

</div>