---
layout: layouts/page.njk
title: Náš tým
headerPhoto: nas-tym810.webp
headerAlt: Fotografie zaměstnanců salonu
---

<div class="nas-tym">
    <div class="profile-card">
        <div class="profile-card__text">
            <h1>Anička</h1>
            <p>Kadeřnice Anička není jenom odbornicí na vlasy, je to umělkyně, která svým nadšením a kreativitou proměňuje každý jednotlivý pramen vlasů v zázrak. Její kouzlo spočívá v tom, že vidí krásu tam, kde ji ostatní možná přehlédnou – v jemném lesku nového střihu, v hravých pramíncích či v odvážné změně barvy.</p>
        </div>
        
        <!-- objednací talčítko -->
        {% include 'partials/button--small.njk' %}
        
        <img src="/images/nas-tym/anicka.webp" alt="Kadeřnice Anička" class="profile-card__photo">
    </div>

    <div class="profile-card profile-card--left">
        <div class="profile-card__text Misa">
            <h1>Míša</h1>
            <p>Míša není jen odbornicí na líčení je to umělkyně s kouzelným dotykem, která dokáže podtrhnout krásu každé tváře. Její mistrovství spočívá v tom, že vidí tvář jako příběh, který může vyprávět. S pečlivostí a trpělivostí vytváří umělecká díla, která zdůrazňují přirozenou krásu každé zákaznice.</p>
        </div>

        <!-- objednací talčítko -->
        {% include 'partials/button--small.njk' %}
        
        <img src="/images/nas-tym/misa.webp" alt="Maskérka Míša" class="profile-card__photo">
    </div>

    <div class="profile-card">
        <div class="profile-card__text">
            <h1>Klárka</h1>
            <p>Klára je skutečná vášnivá nadšenkyně pro péči o nehty. Její precizní ruce s kreativitou sobě vlastní vytvářejí minimalistické designy, které dotváří celkový dojem každého klienta. Její péči oceníte nejen pro dokonalé nehty, ale také pro atmosféru pohodlí a uvolnění, kterou vnáší do každé schůzky.</p>
        </div>
        
        <!-- objednací talčítko -->
        {% include 'partials/button--small.njk' %} <!--see why can't connect second class using with { additionalClass: 'button--small'} -->
        
        <img src="/images/nas-tym/klarka.webp" alt="Manikérka Klárka" class="profile-card__photo">
    </div>
</div>