@use '../abstracts/colors' as colors;
@use '../abstracts/dimensions' as dimensions;
@use '../abstracts/mixins' as mixins;

.cenik {
    margin: 1rem auto 15% auto;
    display: flex;
    flex-direction: column;
    max-width: dimensions.$maxWidth;

    @include mixins.desktop {
        border: dimensions.$border;
        padding: 4rem;       
    }
}

.price-list {
    align-self: center;
    padding: 0 0 1em 0;
    width: 100%;
    display: flex;
    flex-direction: column;

    & table {
        padding: 1em 0;
        border-spacing: 0 1em;
        width: 100%;
        align-self: center;

        @include mixins.desktop {
            width: 70%;
        }
    }

    & th {
        padding: 1em 0 0.5em 0;
    }

    & tr:is(:hover,
    :focus, :active) {
        background-color: colors.$hover-light;
    }

    & tr.price-list__subtitle:is(:hover,
    :focus, :active) {
        background-color: initial;
    }

    & td {
        max-width: calc(100vw*0.6);
    }

    & td:nth-child(2n) {
        text-align: right;
        font-weight: 700;
        text-wrap: nowrap;
    }

    & h1 {
        text-align: center;
    }

    &::after {
        content: "";
        display: block;
        width: calc(dimensions.$maxWidth*0.7);
        height: 0;
        border-bottom: dimensions.$border;
        background-color: transparent;
        margin: 2em auto 2em auto;
    }
}

.price-disclaimer {
    align-self: center;
    text-align: justify;
    font-weight: 700;

    @include mixins.desktop {
        width: 70%;
    }
}