@use '../abstracts/colors' as colors;
@use '../abstracts/dimensions' as dimensions;

.cenik {
    margin: 1em auto 15% auto;
    display: flex;
    flex-direction: column;
    max-width: dimensions.$maxWidth;

    @media screen and (min-width: dimensions.$desktop) {
        border: 2px solid colors.$font; 
        padding: 4em;       
    }
}

.price-list {
    align-self: center;
    padding: 0 0 1em 0;
    width: 100%;
    display: flex;
    flex-direction: column;

    & table {
        padding: 1em 0;
        border-spacing: 0 1em;
        width: 100%;
        align-self: center;

        @media screen and (min-width: dimensions.$desktop) {
            width: 70%;
        }
    }

    & th {
        padding: 1em 0 0.5em 0;
    }

    & tr:is(:hover,
    :focus, :active) {
        text-decoration: underline;
    }

    & tr.price-list__subtitle:is(:hover,
    :focus, :active) {
        text-decoration: none;
    }

    & td {
        max-width: calc(100vw*0.6);
    }

    & td:nth-child(2n) {
        text-align: right;
        font-weight: 700;
        text-wrap: nowrap;
    }

    & h1 {
        text-align: center;
    }

    &::after {
        content: "";
        display: block;
        width: calc(dimensions.$maxWidth*0.7);
        height: 1px;
        background-color: colors.$font;
        margin: 2em auto 2em auto;
    }
}

.price-disclaimer {
    align-self: center;
    text-align: justify;
    font-weight: 700;

    @media screen and (min-width: dimensions.$desktop) {
        width: 70%;
    }
}