@use '../abstracts/colors' as colors;
@use '../abstracts/dimensions' as dimensions;
@use '../abstracts/mixins' as mixins;


.index {
    margin: dimensions.$pageMargin;
    display: flex;
    flex-direction: column;
    max-width: dimensions.$maxWidth;
}

.plain-text {
    margin: 0;
    padding: 1em 1em;
    text-align: center;

    &:last-child {
        padding-bottom: 2em;
    }
}

.homepage-gallery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 0.5em;
    padding-bottom: 3em;
    margin: 1em auto;

    @include mixins.desktop {
        grid-template-columns: repeat(6, auto);
        grid-template-rows: 1fr;
        grid-gap: 0.5em;
        padding-bottom: 0;
        margin: 4em auto 0 auto;
    }

    &__photo {
        max-height: 300px;
        overflow: hidden;

        @include mixins.desktop {
            min-height: 400px;
        }
        
        &.photo--desktop {
            display: none;
        
            @include mixins.desktop {
                display: block;
            }
        }

        &:is(:hover,
        :focus, :active) {
            @include mixins.hover(0.5s);
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

