@use '../abstracts/colors' as colors;
@use '../abstracts/dimensions' as dimensions;

.index {
    margin: dimensions.$pageMargin;
    display: flex;
    flex-direction: column;
    max-width: dimensions.$maxWidth;
}

.plain-text {
    margin: 0;
    padding: 1em 1em;
    text-align: center;

    &:last-child {
        padding-bottom: 2em;
    }
}

.homepage-gallery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-gap: 4em;

    &__photo {
        max-height: 600px;
        overflow: hidden;
        
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}