@use '../abstracts/colors' as colors;
@use '../abstracts/dimensions' as dimensions;

.index {
    margin: dimensions.$pageMargin;
    display: flex;
    flex-direction: column;
    max-width: dimensions.$maxWidth;
}

.plain-text {
    margin: 0;
    padding: 1em 1em;
    text-align: center;

    &:last-child {
        padding-bottom: 2em;
    }
}