@use '../abstracts/colors' as colors;
@use '../abstracts/dimensions' as dimensions;
@use '../abstracts/mixins' as mixins;

.nas-tym {
    margin: dimensions.$pageMargin;
}

.profile-card {
    padding: 1em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);

    @media screen and (min-width: dimensions.$desktop) {
        display: grid;
        grid-template-columns: 1fr minmax(0, 0.5fr) 1fr;
        grid-template-rows: repeat(2, auto);
        padding-bottom: 3em;

        &:last-child {
            padding-bottom: 1em;
        }
    }

    &__text {
        padding: 1em;
        text-align: justify;
        max-width: calc(100vw*0.8);
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-self: center;
       
        @media screen and (min-width: dimensions.$desktop) {
            max-width: calc(100vw*0.8);
            grid-column: 1 / 2;
            grid-row: 1 / 2;

            &.Misa {
                grid-column: 3 / -1;
                grid-row: 1 / 2;
            }
        }
    }

    &__photo {
        max-width: calc(100vw*0.75);
        border: 1px solid colors.$accent-light;
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        justify-self: center;
        
        @media screen and (min-width: dimensions.$desktop) {
            grid-column: 2 / -1;
            grid-row: 1 / -1;
            max-width: 100%;
            justify-self: end;

            &[alt*="Míša"] {
                grid-column: 1 / 3;
                grid-row: 1 / -1;
                justify-self: start;
            }
        }        
    }
}