<footer class="footer">
    <p class="footer__text">&copy; 2023, <a class="footer__link" href="https://www.linkedin.com/in/evacechova/">Eva Čechová</a></p>
    <a href="https://www.flaticon.com/free-icons/shapes-and-symbols" title="shapes and symbols icons">Shapes and symbols icons created by Alphabets Number - Flaticon</a>
</footer>

