<div class="nt__gallery">
    <img class="nt__gallery__photo" src="/images/nas-tym/hair1.webp" alt="Střih 1">
    <img class="nt__gallery__photo" src="/images/nas-tym/hair2.webp" alt="Střih 2">
    <img class="nt__gallery__photo" src="/images/nas-tym/hair3.webp" alt="Střih 3">
    <img class="nt__gallery__photo" src="/images/nas-tym/hair4.webp" alt="Střih 4">
</div>