<header class="header">
    <a href="/"><h1>salon A</h1></a>
    <div class="header-container">
        <img class="header-photo" src="/images/{{ headerPhoto }}" alt="{{ headerAlt }}">
    </div>
</header>