<header class="header">
    <a class="header__link" href="/">
        salon <em class="header__link-a">A</em>
    </a>
    <img class="header__photo" src="/images/headers/{{ headerPhoto }}" alt="{{ headerAlt }}">
</header>