<nav>
    <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="/nas-tym/index.html">Náš tým</a></li>
        <li class="menu__item"><a class="menu__link" href="/cenik/index.html">Ceník</a></li>
        <li class="menu__item"><a class="menu__link" href="/kontakt/index.html">Kontakt</a></li>
        <li class="menu__item"><a class="menu__link" href="https://www.instagram.com/"><img src="/images/Instagram_Glyph_Gradient.png" alt="Ikona Instagramu" class="menu__glyph">Náš Instagram</a></li>
    </ul>
    
</nav>