<nav>
    <ul>
        <li><a href="/nas-tym/index.html">Náš tým</a></li>
        <li><a href="/sluzby/index.html">Služby</a></li>
        <li><a href="/cenik/index.html">Ceník</a></li>
        <li><a href="/kontakt/index.html">Kontakt</a></li>
        <img src="/images/Instagram_Glyph_Gradient.png" alt="Ikona Instagramu" class="IG-glyph"><li><a href="https://www.instagram.com/">Náš Instagram</a></li>
    </ul>
</nav>