<dialog class="modal" id="modal">
    <a href="#" class="modal__close">
        <img src="/images/close.webp" alt="Křížek">
    </a>
    <div class="modal__content">
        <h2>Kontaktní formulář</h2>
        <p class="modal__text"><strong class="modal__text--undelined">Vyplňte prosím níže uvedený formulář</strong> a naše recepční se vám obratem ozve pro domluvu termínu, nebo nám rovnou sami <strong><a class="modal__text--undelined" href="tel:+420777666555">zavolejte na číslo +420 777 666 555</a></strong>.</p>

        <form class="form" method="dialog">
            
            <label for="name" class="form__label">jméno a příjmení</label>
                <input class="form__item" type="text" name="name" id="name" placeholder="Anna Vlásková" required>
            

            <label for="phone-number" class="form__label">telefon</label>
                <input class="form__item" type="tel" inputmode="numeric" name="phone-number" id="phone-number" placeholder="+420 111 222 333" pattern="(?:\+\d{1,3}\s?)?[0-9]{3} [0-9]{3} [0-9]{3}">
            
            <label for="service" class="form__label">požadovaná služba</label>
                <select class="form__item" name="service" id="service" required>
                    <option value="">vyberte požadovanou službu</option>
                    <option value="hair">vlasové služby</option>
                    <option value="makeup">líčení</option>
                    <option value="nails">mani/pedi</option>
                </select>
            
            <label for="date" class="form__label">preferovaný termín návštěvy</label>
                <input class="form__item" type="date" name="date" id="date" placeholder="dd. mm. rrrrr">
        </form>

        <!-- talčítko pro odeslání formuláře -->
        {% include 'partials/button--send.njk' %}
    </div>
</dialog>
