@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixins;

.footer {
    width: 100%;
    padding: 1rem 1rem;
    font-size: 0.7rem;
    text-align: center;
    background-color: var.$accent-light;
    position: absolute;
    bottom: 0;
    //margin-top: 5%;
    

    &__text {
        margin: 0;
    }

    &__link {
        text-decoration: underline;
    }
}