@use '../abstracts/colors' as colors;
@use '../abstracts/dimensions' as dimensions;
@use '../abstracts/mixins' as mixins;

.footer {
    width: 100%;
    padding: 1em 1em;
    font-size: 0.7em;
    text-align: center;
    background-color: colors.$accent-light;
    position: absolute;
    bottom: 0;
    margin-top: 5%;
    

    &__text {
        margin: 0;
    }
}