@use '../abstracts/colors' as colors;
@use '../abstracts/dimensions' as dimensions;
@use '../abstracts/mixins' as mixins;

.header {
    margin-top: 1em;
    
    &__link {
        text-decoration: none;
        font-size: 40px;
        padding: 0 0.5em;

        @media screen and (min-width: dimensions.$desktop) {
            padding: 0 1.5em;
        }
        
        &-a {
            font-family: 'Luxurious Script', cursive;
            font-size: 54px;
        }
    }

    &__photo {
        height: auto;
        width: 100%;
        border: 1px solid colors.$accent-light;
    }
}

