@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixins;

.header {
    margin-top: 1rem;
    
    &__link {
        text-decoration: none;
        font-size: 40px;
        padding: 0 0.5em;

        @include mixins.underline(var.$accent-dark, var.$hover-light, center);

        &:is(:hover,
        :focus, :active) {
            @include mixins.underlineHover(var.$accent-dark, 65%);
        }

        @include mixins.desktop {
            padding: 0 1.5em;
            background-position: center 1.25em;
        
            &:is(:hover,
            :focus, :active) {
                background-size: 45% 1px;
            }
        }

        &-a {
            font-family: 'Luxurious Script', cursive;
            font-size: 54px;
        }
    }

    &__photo {
        height: auto;
        width: 100%;
    }
}

