@use '../abstracts/colors' as colors;
@use '../abstracts/dimensions' as dimensions;
@use '../abstracts/mixins' as mixins;

.menu {
    background-color: colors.$accent-dark;
    overflow: hidden;
    margin-top: -4px;
    transition: background-color 300ms ease;

    &:is(:hover, :focus, :active) {
        background-color: colors.$hover;
    }

    @include mixins.desktop {
        width: fit-content;
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 25px;
        right: 0;
        background-color: transparent;

        &:is(:hover, :focus, :active) {
            background-color: transparent;
        }
    }
    
    &__list {
        display: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
        font-size: 1.2em;
        text-decoration: none;
        transition: transform 0.3s ease; /*check*/

        @include mixins.desktop {
            display: flex;
        }
    }

    &__list.show {
        display: flex;
        flex-direction: column;
        padding-bottom: 2em;
    }

    &__hamburger {
        cursor: pointer;
        color: colors.$background;
        padding: 0.5em 1em;

        @media screen and (min-width: dimensions.$desktop) {
            display: none;
        }
    }

    &__item {
        padding: 0 3em;        
        
        @media screen and (min-width: dimensions.$desktop) {
            position: relative;
            padding: 2px 3em;           
        }
    }

    &__item:is(:hover,
    :focus, :active) {
        background-color: colors.$accent-dark;
        transition: background-color 300ms ease;

        @include mixins.desktop {
            background-color: transparent;
        }
    }

    &__link {
        text-transform: lowercase;
        text-wrap: nowrap;
        color: colors.$background;
        display: block;
        width: 100%;

        @include mixins.desktop {
            color: colors.$font;
            @include mixins.underline(colors.$accent-dark, colors.$hover-light, center);

            &:is(:hover,
            :focus, :active) {
                @include mixins.underlineHover(colors.$accent-dark, 75%);
            }
        }
    }

    &__link:is(:hover,
    :focus, :active) {
        
        @include mixins.desktop {
            color: colors.$accent-dark;
        }
    }

    &__glyph {
        max-width: 29px;
        display: none;
        
        @include mixins.desktop {
            display: block;
            position: absolute;
            right: 10em;
        }
    }
}

