@use '../abstracts/colors' as colors;
@use '../abstracts/dimensions' as dimensions;
@use '../abstracts/mixins' as mixins;

.button--main {
    padding: 0.5em 1.2em;
    text-transform: lowercase;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 0.1em;
    display: block;
    margin: 1em auto;
    color: colors.$background;
    background-color: colors.$accent-dark;
    border: none;
    
    @media screen and (min-width: dimensions.$desktop) {
        font-size: 30px;
    }
    
    &:is(:hover,
    :focus, :active) {
        background-color: colors.$hover;
        @include mixins.hover(1s);
        cursor: pointer;
    }
}

.button--small {
    padding: 0.5em 1.2em;
    text-transform: lowercase;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 0.1em;
    display: block;
    margin: 1em auto;
    color: colors.$background;
    background-color: colors.$accent-dark;
    border: none;

    @media screen and (min-width: dimensions.$desktop) {
        margin: 0 auto auto auto;
        font-size: 30px;
    }
    
    &:is(:hover,
    :focus, :active) {
        background-color: colors.$hover;
        @include mixins.hover(1s);
        cursor: pointer;
    }
}

