@use '../abstracts/colors' as colors;
@use '../abstracts/dimensions' as dimensions;
@use '../abstracts/mixins' as mixins;

.button--main {
    padding: 0.5em 1.2em;
    text-transform: lowercase;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 0.1em;
    display: block;
    margin: 1em auto;
    color: colors.$background;
    background-color: colors.$accent-dark;
    border: none;
    position: relative;
    transition: border-radius 1s ease;
    
    @include mixins.desktop {
        font-size: 30px;
    }

      &:is(:hover,
    :focus,:active) {
        background-color: colors.$hover;
        border-radius: 50px;
        cursor: pointer;
    }

    &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        bottom: 0.6em;
        left: 1.5em;
        background: radial-gradient(colors.$background, colors.$hover);
        transition: width 500ms ease;
    }

    &:is(:hover,
    :focus,:active)::after {
        width: 70%;
    }
}

.button--small {
    padding: 0.5em 1.2em;
    text-transform: lowercase;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 0.1em;
    display: block;
    margin: 1em auto;
    color: colors.$background;
    background-color: colors.$accent-dark;
    border: none;

    @include mixins.desktop {
        margin: 0 auto auto auto;
        font-size: 30px;
    }
    
    &:is(:hover,
    :focus, :active) {
        background-color: colors.$hover;
        cursor: pointer;
    }
}

.button--send:is(:hover,
:focus,:active)::after {
    width: 55%;
}