@use '../abstracts/colors' as colors;
@use '../abstracts/dimensions' as dimensions;
@use '../abstracts/mixins' as mixins;

.modal {
    max-width: calc(100vw*0.9);
    border: dimensions.$border;
    background-color: colors.$background;
    position: relative;

    @include mixins.desktop {
        max-width: calc(100vw*0.5)
    }

    &__close img {
        width: 1em;
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        box-sizing: content-box;
        border: solid 5px colors.$background;
        border-radius: 50%;
        transition: border 700ms ease, background-color 700ms ease;
        
        @include mixins.desktop {
            width: 1.4em;
            top: 1.2em;
            right: 1.2em;    
        }

        &:is(:hover,
            :focus, :active) {
                border: solid 5px colors.$hover-light;
                background-color: colors.$hover-light;
        }
    }

    &__content {
        margin: 2em 0;
        
        & h2 {
            text-transform: uppercase;
            text-align: center;
        }
    }
    

    &__text {
        text-align: justify;
        padding: 1em;
        
        @include mixins.desktop {
            padding: 1em 4em;   
        }

        &--undelined {
            @include mixins.underline(colors.$accent-dark, colors.$hover-light, center);
        
            &:is(:hover,
            :focus, :active) {
                @include mixins.underlineHover(colors.$accent-dark, 100%);
            }
        }
    }
}

.form {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: auto;
    border: solid 1px colors.$accent-light;
    margin: 1em 1em;
    padding: 1em;

    @include mixins.desktop {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        margin: 1em 4em;
    }

    &__label {
        @include mixins.font;
        margin: 0.2em;
        font-weight: bold;

        &--required::after {
            content: " *";
            color: red;
        }
    }

    &__item {
        @include mixins.font;
        border: solid 1px colors.$accent-light;
        font-size: 1em;
        transition: background-color 300ms ease, border 300ms ease;
        color: colors.$font;
        position: relative;

        ::placeholder {
            color: colors.$font;
        }

        &:is(:hover, :focus, :active) {
            background-color: rgba(202, 193, 176, 0.4);
            border: solid 1px colors.$hover;
            outline: 0;
        }
    }
}