@use '../abstracts/colors' as colors;
@use '../abstracts/dimensions' as dimensions;
@use '../abstracts/mixins' as mixins;

.modal {
    width: calc(100vw*0.7);
    border: dimensions.$border;
    background-color: colors.$background;
    position: relative;

    @media screen and (min-width: dimensions.$desktop) {
        max-width: calc(100vw*0.5)
    }

    & h2 {
        text-transform: uppercase;
        text-align: center;
    }

    &__close img {
        width: 1.4em;
        position: absolute;
        top: 1.5em;
        right: 1.5em;
        border: solid 0px colors.$hover-shadow;
        border-radius: 50%;                

        &:is(:hover,
            :focus, :active) {
                border: 5px;
                background-color: colors.$hover-shadow;
                transition: border 500ms ease, background-color 500ms ease;
            }        
    }

    &__text {
        text-align: justify;
        padding: 1em 4em;

        &--undelined {
            @include mixins.underline(colors.$accent-dark, colors.$accent-light, left);
        
            &:is(:hover,
            :focus, :active) {
                @include mixins.underlineHover(colors.$accent-dark, 100%);
            }
        }
    }
}

.form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    border: dimensions.$border;
    margin: 1em 4em;
    padding: 1em;

    &__label {
        @include mixins.font;
        margin: 0.2em;
    }

    &__item {
        @include mixins.font;
    }
}