@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixins;

.modal {
    max-width: calc(100vw*0.9);
    border: solid 0 var.$background;
    background-color: var.$background;
    position: relative;

    @include mixins.desktop {
        max-width: calc(100vw*0.5)
    }

    &::backdrop {
        background: var.$font;
        opacity: 0.4;
    }

    &__close img {
        width: 1rem;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        box-sizing: content-box;
        border: solid 5px var.$background;
        border-radius: 50%;
        transition: border 700ms ease, background-color 700ms ease;
        
        @include mixins.desktop {
            width: 1.4em;
            top: 1.2em;
            right: 1.2em;    
        }

        &:is(:hover,
            :focus, :active) {
                border: solid 5px var.$hover-light;
                background-color: var.$hover-light;
        }
    }

    &__content {
        margin: 0;
        
        & h2 {
            text-transform: uppercase;
            text-align: center;
            margin: 1em auto 0.25em auto;
        }
    }
    

    &__text {
        text-align: justify;
        padding: 0.5em 1em;
        
        @include mixins.desktop {
            padding: 1em 4em;   
        }

        &--undelined {
            @include mixins.underline(var.$accent-dark, var.$hover-light, center);
        
            &:is(:hover,
            :focus, :active) {
                @include mixins.underlineHover(var.$accent-dark, 100%);
            }
        }
    }
}

.form {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: auto;
    margin: 0;
    padding: 1em;
    background-color: var.$background;

    @include mixins.desktop {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        grid-gap: 0.5em 1em;
        margin: 1em 4em;
    }

    &__label {
        @include mixins.font;
        margin: 0.2em;
        font-weight: bold;
        font-size: smaller;

        &--required::after {
            content: " *";
            color: red;
        }
    }

    &__item {
        @include mixins.font;
        border: solid 1px var.$hover-light;
        border-radius: 10px;
        font-size: 1em;
        background-color: var.$background;
        transition: background-color 300ms ease;
        color: var.$font;
        position: relative;
        margin-bottom: 0.5em;

        &:is(:hover, :focus, :active) {
            background-color: var.$hover-light;
            outline: 0;
        }
    }
}