@use 'colors';
@use 'dimensions';

@mixin font {
    font-family: 'Noto Sans', sans-serif;
    color: colors.$font;
}

@mixin hover($ease) {
    border-radius: 50px;
    transition: border-radius $ease ease;
}

@mixin underline($gradient1, $gradient2) {
    background-image: linear-gradient(90deg, $gradient1, $gradient2);
            background-size: 0% 1px;
            background-repeat: no-repeat;
            background-position: left 1.5em;
            padding-block: 0.25em;

            transition: color 500ms, background-size 500ms;
}

@mixin underlineHover($fontColor) {
    color: $fontColor;
    background-size: 100% 3px;
}