@use 'colors';
@use 'dimensions';

@mixin desktop {
    @media screen and (min-width: dimensions.$desktop) {
        @content;
    }
}

@mixin font {
    font-family: 'Noto Sans', sans-serif;
    color: colors.$font;
}

@mixin underline($gradient1, $gradient2, $bcgPosition) {
    background-image: radial-gradient($gradient1, $gradient2);
            background-size: 0% 1px;
            background-repeat: no-repeat;
            background-position: $bcgPosition 1.5em;
            padding-block: 0.25em;

            transition: color 500ms, background-size 500ms;
}

@mixin underlineHover($fontColor, $bcgSize) {
    color: $fontColor;
    background-size: $bcgSize 1px;
}

@mixin cellBcg($gradient1, $gradient2, $bcgPosition) {
    background-image: radial-gradient($gradient1, $gradient2);
            background-size: 0% 100%;
            background-repeat: no-repeat;
            background-position: $bcgPosition;
            padding-block: 0.25em;

            transition: color 1s, background-size 1s;
}

@mixin cellBcgHover($fontColor, $bcgSize) {
    color: $fontColor;
    background-size: $bcgSize 100%;
}