<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

<!--OpenGraph meta tagy-->
    <meta property="og:title" content="Salon A">
    <meta property="og:description" content="Jsme oázou pro ty, kteří vyznávají jednoduchost a nadčasový styl.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://salon-a.netlify.app/images/homepage-sm.webp">
    <meta property="og:url" content="https://salon-a.netlify.app/">
    <meta property="og:locale" content="cs_CZ">

<!--Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#484848">
    <meta name="apple-mobile-web-app-title" content="Salon A">
    <meta name="application-name" content="Salon A">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">

<!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Luxurious+Script&family=Noto+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">

</head>

    <div class="body-wrapping-div">

        <body>
            
        <!--obsah šablony, která používá tuto-->
            {{ content | safe }}

            <!--hamburger menu-->
        <script>
            {% include "scripts/.hamburger-menu.js" %}
        </script>

        </body>
    </div>

</html>
