---
layout: layouts/main-layout.njk
---

<div class="top-panel">
<!-- hlavička stránky -->
{% include 'partials/header.njk' %}

<!--menu-->
{% include 'partials/menu.njk' %}
</div>

<main class="main">

	<!--
		obsah stránky (nebo šablony),
		která používá tuto šablonu
	-->
	{{ content | safe }}

</main>


<!-- patička stránky -->
{% include 'partials/footer.njk' %}