---
layout: layouts/main-layout.njk
---

<div class="top-panel">
<!-- header -->
{% include 'partials/header.njk' %}

<!--menu-->
{% include 'partials/menu.njk' %}
</div>

<main class="main">

	<!--
		layout content
	-->
	{{ content | safe }}

</main>


<!-- footer -->
{% include 'partials/footer.njk' %}